div {
  display: flex;
}

.section {
  @include gutterize("padding");
  flex-direction: column;
  margin: 0;
  width: 100%;

  @media #{$medium-and-up} {
    @include gutterize("margin-top", "margin-bottom");
    margin: 0 auto;
    max-width: 1220px; // from the design
  }

  &.white {
    background-color: rgba(256, 256, 256, 0.8);
    @include zdepth($level: 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0; // containers are often already padded.
  }
}

.main {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  flex-direction: column;
}

pre {
  @include gutterize("padding");
  border: solid 1px color("grey", "lighten-3");
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;

  &:after {
    content: " ";
    display: flex;
    margin: auto;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 8px solid $primary3-color;
    border-color: $primary3-color transparent $primary3-color transparent;
    animation: page_loader 1.2s linear infinite;
  }
}
@keyframes page_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;

  .shadow {
    background: color("grey", "darken-3");
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 600;
  }

  .close {
    top: 4px;
    right: 4px;
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 700;
    cursor: pointer;

    i {
      color: color("grey", "base");
      font-size: 2rem;
    }
  }
}
